body {
  font-family: sans-serif;
  background: #f9f9f9;
  padding: 1rem;
}
header {
  text-align: center;
  margin-bottom: 1rem;
}

header h1{
  color: #ff7f50;
}
nav {
  text-align: center;
  margin-bottom: 1rem;
}
.tab {
  padding: 0.5rem 1rem;
  background: #00a86b;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 0 0.3rem;
  cursor: pointer;
}
main {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.product-list {
  flex: 3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
}
.card {
  background: white;
  padding: 3rem;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.card img {
  max-width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}
.select-btn {
  background: green;
  border: none;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.select-btn.selected {
  background: #ff7f50;
}
#order-form {
  flex: 1;
  background: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
#order-form form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
#order-form input, #order-form textarea {
  padding: 0.5rem;
  font-size: 1rem;
}
#order-form button {
  background: green;
  color: white;
  border: none;
  padding: 0.6rem;
  border-radius: 5px;
  cursor: pointer;
}
textarea {
  height: 100px;
}
@media (max-width: 768px) {
  main {
    flex-direction: column;
  }
}
